
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* RESPONSIVE NAVBAR*/

.nav{
    padding-bottom: 5%;
}
.nav_toggle{
    position: absolute;
    cursor:pointer;
    margin: 1rem;
    right:0;
}
.nav_toggle .fas{
    color: darkslategray;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
#close{
    display: none;
}
.nav_checkbox{
    display: none;
}
.nav_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.nav_menu li{
    list-style: none;
    display: none;
}
.nav_menu li :first-child{
    margin-right: auto;
    display: block;
}
.nav_menu a{
    text-decoration: none;
    color: black;
}
.nav_menu a::after{
    content: "";
    width: 100%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
}
.nav_menu a:hover::after{
    content:"";
    width:100%;
    height:2px;
    background: rgb(254,74,59);
    display:block;
    margin: auto;
}
#nav_checkbox:checked ~ ul.nav_menu li{
    display: block;
}
#nav_checkbox:checked ~ label.nav_toggle #close{
    display: block;
}
#nav_checkbox:checked ~ label.nav_toggle #open{
    display: none;
}

/* SIDEBAR*/

.sidebar ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
}
.sidebar ul li a{
    color:black;
    text-decoration: none;
}
.sidebar ul li::after{
    content: "";
    width: 100%;
    height: 2px;
    background:rgb(209,233,227);
    display: block;
    margin: auto;
}
.sidebar ul li:hover{
    background-color: rgb(209,233,227);
}

/*TEXT AREA*/

.info_text p{
    font-family: 'Open Sans', sans-serif;
}

.info_text #bold{
    font-weight: 900;
}

/* IMAGES*/

.nav img{
    width:200px;
}

.info_text img{
    height:60px;
    text-align:center;
}
.info_pics img{
    object-fit: cover;
    max-width:100%;
    max-height:100%;
}
.info_pics2 img{
    object-fit:cover;
    max-width: 48%;
    min-width: 29%;
    max-height:100%;
    display:inline-block;

}
/*FOOTER*/

footer {
    grid-area: footer;
    align-items: center;
    text-align: center;
    background-color: white;
}
.icons a{
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
    color:black;
    text-decoration: none;
}
.icons a:hover{
    color:rgba(254,74,59,255);
}

/* GRID AREAS*/
.nav{
    background:rgb(209,233,227);
    grid-area:nav;
}
.sidebar{
    background-color:white;
    grid-area:sidebar;
}
.info_text{
    background-color: white;
    grid-area:info_text;
}
.info_pics{
    background-color:white;
    grid-area:info_pics;
    margin:5%;
}
.info_pics2{
    grid-area: info_pics2;
    margin-top: 10px;
    overflow-y:hidden;
}

h2{
    text-align: left;
    font-size: 40px;
}
/* COMPUTER SCREENS*/ 

@media (min-width:700px){
    main {
        display:grid;
        height:auto;
        grid-template-columns: 0.4fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.4fr 0.1fr;
        grid-template-areas: 
        "nav nav nav"
        "sidebar info_text info_pics"
        "info_pics2 info_pics2 info_pics2"
        "footer footer footer";
        grid-gap: 0.5rem;
        text-align:center;
    }
    .nav {
        display: flex;
        padding: 0 5%;
        justify-content: space-between;
        align-items: center;
    }
    .nav_toggle{
        display: none;
    }
    .nav_menu{
        flex-direction: row;
    }
    .nav_menu li{
        display: block;
    }
    nav .fas {
        display:none;
    }
    .info_text img{
        display: block;
        text-align: left;
    }
    .info_text p{
        text-align: left;
    }
    .sidebar ul li {
        list-style: none;
        display: block;
        padding: 15px 12px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        font-size: 30px;
    }
}
